body {
    display: flex;
    align-items: center;
    justify-content: center;
}

.App {
    margin-top: 50px;
    padding: 10px;
    border: 4px solid red;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.containerResponse {
    height: 300px;
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: center;

}
form {
    display: flex;
}
input {
    width: 75%;
}
button {
    width: 25%;

}
h5  {
    animation-name: animation;
    animation-duration: 3s;
  }
  @keyframes animation {
    0% { opacity: 0; }
    100%{ opacity: 1; }
  }